<template>
  <div class="about">
    <h1>This is an Login page</h1>
    <form v-on:submit="login">
      <Input type="text" placeholder="Email" />
      <Input type="password" placeholder="Password" />
      <button type="submit">Login</button>
      <button v-on:click="getData">GetData</button>
      <p>Not an user?? <router-link to="/signup">Sign up</router-link></p>
    </form>
  </div>
</template>

<script>
import Input from "../components/Input";
import axios from "axios"
export default {
  name: "login",
  components: {
    Input
  },
  methods: {
    login() {
      window.console.log("hello");
    },
    getData() {
      axios.get("api/users")
      .then(res => window.console.log(res.data))
      .catch(err => window.console.log(err));
    }
  },
  data() {
    return JSON.parse("{ username: '', password: '' }");
  }
} 
</script>
