<template>
  <div>
    <form>
        <Input type="text" placeholder="Firstname" />
        <Input type="text" placeholder="Middlename" />
        <Input type="text" placeholder="Lastname" />
        <Input type="email" placeholder="Email" />
        <Input type="date" />
        <Input type="password" placeholder="Password" />
        <Input type="password" placeholder="Confirm Password" />
        <button type="submit">Submit</button>
        <p>Already an user?? <router-link to="/login">Login</router-link></p>
    </form>  
  </div>  
</template>

<script>
import Input from "../components/Input";

export default {
  name: 'signup',
  components: {
    Input
  }
}
</script>
