<template>
    <div class="input-wrapper">
        <input :type="type">
        <div class="input-placeholder">{{placeholder}}</div>
    </div>
</template>


<script>
export default {
    name: "Input",
    props: ["placeholder", "type"]

}
</script>

<style>
.input-wrapper {
    position: relative;
    margin: 10px;
    width: auto;
}

.input-wrapper > input {
    width: 252px;
    height: 35px;
    margin-top: 17px;
}

.input-wrapper > input:focus + .input-placeholder {
    bottom: 28px;
    font-size: 13px;
    line-height: 15px;
    padding-top: 10px;
}

.input-placeholder {
    position: absolute;
    line-height: 17px;
    font: 14px;
    bottom: 0;
}
</style>