<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   	<div id="app" class="row">
   		<h1>Test Examples</h1>
   		<ol>
   			<li v-for="todo in todos">
   				{{ todo.text }}
   			</li>
   		</ol>
   	</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    	var app = new Vue({
    		el: "#app",
    		data: {
    			todos: [
    				{ text: 'Learn JavaScript' },
    				{ text: 'Learn Vue' },
    				{ text: 'Builde Something awesome' }
    			]
    		}
    	})
    </script>
    <script src="foo.js"></script>
</body>
</html>